body {
  font-family: Arial, sans-serif;
  background-size: cover; 
  background-position: center;
  background-image:url('library.jpg');
  margin: 0;
}

.container {

  padding: 16px;
  border-radius: 8px;
  background-color: rgba(242, 212, 177, 0.8);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 40px auto;
}

h1 {
  text-align: center;
  color: #333;
}

hr {
  border: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 8px 0;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

button {
  background-color: #6b562b;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #d28c0a;
}


input[type="radio"] {
  margin-right: 5px;
}

/* Responsive layout - adjust the max-width as needed */
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
}

.input-group input:focus{
  outline:0;
}

.error{
  color:red;
  font-size: 16px;
  margin-top: 5px;
}

